{% extends 'main.html' %}
{% load static %}
{% block style %}
<style>
  body {
    background-image: url("{% static 'images/hobbit.jpg' %}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  }
</style>
{% endblock %}
{% block content %}
<main class="layout layout--3">
  <div class="container">
    {% include 'base/topics_component.html' %}

    <div class="roomList">
      <div class="mobile-menu">
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'topics' %}">Available Topics</a>
          <a class="btn btn--main btn--pill" href="{% url 'activity' %}">Recent Activities</a>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Latest News</h2>
          <p>{{room_count}} News found</p>
        </div>
        {% if check_is_superuser or user.moderator  %}
        <a class="btn btn--main" href="{% url 'create-room' %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>add</title>
            <path
              d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
            ></path>
          </svg>
          Add News
        </a>
        {% endif %}
      </div>
      {% include 'base/feed_component.html' %}
      <div>
        <a class="btn btn--main load-more make-middle" href="#">
          Load more
        </a>
      </div>
    </div>
    {% include 'base/activity_component.html' %}
  </div>
</main>
{% endblock content %}
